.container {
  margin: 100px auto;
  border: 5px solid #fff;
  border-radius: 20px;
  padding: 20px;
  width: 55vw;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.showcase {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather_condition {
  height: 6rem;
}

.icon p {
  font-size: 14px;
}

.data_temp {
  margin-left: 10px;
}
